<% @fas.each do |fa| %>
  <tr>
    <td>
      <%= fa.ctg_name %>
    </td>
    <td>
      <%= fa.mfg_name %>
    </td>
    <td>
      <%= fa.model_num %>
    </td>
    <td>
      <%= fa.serial_num %>
    </td>
    <td>
      <%= fa.purchase_date %>
    </td>
    <td>
      <% if fa.assigned %>  
        <%= link_to fa.assigned, user_path(fa.username), class: "ks-red-light" %>
      <% end %>
    </td>
    <td align="center">
      <%= link_to edit_fixed_asset_path(fa) do %>
        <span class="glyphicon glyphicon-info-sign ks-red-light"></span>
      <% end %>
      
      <%= link_to fixed_asset_path(fa), method: "delete",
                                        data: { confirm: "Are you sure you " + 
                                        "want to DELETE fixed asset (serial# " + 
                                        "#{fa.serial_num})" } do %>
        <span class="glyphicon glyphicon-remove-circle ks-red-light">
        </span>
      <% end %>
    </td>
  </tr>
<% end %>