<% @ufas.each do |ufa| %>
  <tr>
    <td>
      <%= ufa.ctg_name %>
    </td>
    <td>
      <%= ufa.mfg_name %>
    </td>
    <td>
      <%= ufa.model_num %>
    </td>
    <td>
      <%= ufa.serial_num %>
    </td>
    <td>
      <%= ufa.purchase_date %>
    </td>
    <td>
      <% if ufa.assigned %>  
        <%= link_to ufa.assigned, user_path(ufa.username), class: "ks-red-light" %>
      <% end %>
    </td>
    <td align="center">
      <%= link_to edit_unfixed_asset_path(ufa) do %>
        <span class="glyphicon glyphicon-info-sign ks-red-light"></span>
      <% end %>
      
      <%= link_to unfixed_asset_path(ufa), method: "delete",
                                           data: { confirm: "Are you sure " + 
                                           "you want to DELETE unfixed asset " + 
                                           "(serial# #{ufa.serial_num})" } do %>
        <span class="glyphicon glyphicon-remove-circle ks-red-light">
        </span>
      <% end %>
    </td>
  </tr>
<% end %>