<table class= "table table-hover">
  <tr class="th-row">
    <th width="20%">Category</th>
    <th width="20%">MFG Name</th>
    <th width="20%">Model #</th>
    <th width="20%">Serial #</th>
    <% if admin? %>
      <th width="10%"></th>
    <% end %>
  </tr>
  <% @fixed_assets.each do |asset| %>
    <tr>
      <td style="font-weight: bold"><%= asset.name %></td>
      <td><%= asset.mfg_name %></td>
      <td><%= asset.model_num %></td>
      <td><%= asset.serial_num %></td>
      <% if admin? %>
        <td class="table-row-data">
          <%= link_to "Unassign", user_path(@user, asset_type: "fixed",
                                            asset_id: asset.id),
                                            method: :delete,
                                            class: "btn btn-sm ks-red-btn" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>