<table class="table table-hover">
  <tr class="th-row">
    <th width="13%">
      MFG Name
    </th>
    <th width="13%">
      Model #
    </th>
    <th width="22%">
      Serial #
    </th>
    <th width="40%">
      Description
    </th>
    <th width="13%"></th>
    <% @open_ufas.order(mfg_name: :asc).each do |asset| %>
      <tr>
        <td><%= asset.mfg_name %></td>
        <td><%= asset.model_num %></td>
        <td><%= asset.serial_num %></td>
        <td><%= asset.description %></td>
        <td class="table-row-data">
          <%= link_to "Check out", check_out_path(asset), method: :post,
                                         class: "btn btn-sm ks-red-btn" %>
        </td>
      </tr>
    <% end %>
  </tr>
</table>