<% @page_title = "#{@category.name}" %>

<%= render 'shared/title', title: link_to("Categories", categories_path,
                                                        class: "ks-red-light") + 
                                  " &raquo; ".html_safe + 
                                  @category.name %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <% if @open_unfixed_assets.any? %>  
      <table class="table table-hover">
        <tr class="th-row">
          <th width="13%">
            MFG Name
          </th>
          <th width="13%">
            Model #
          </th>
          <th width="13%">
            Serial #
          </th>
          <th width="44%">
            Description
          </th>
          <th width="13%"></th>
          <% @open_unfixed_assets.each do |asset| %>
            <tr>
              <td><%= asset.mfg_name %></td>
              <td><%= asset.model_num %></td>
              <td><%= asset.serial_num %></td>
              <td><%= asset.description %></td>
              <td class="table-row-data">
                <%= link_to "Check Out", check_out_path(asset), method: :post,
                                               class: "btn btn-sm ks-red-btn" %>
              </td>
            </tr>
          <% end %>
        </tr>
      </table>
    <% else %>
      <div class="text-center">
        All loaned <%= @category.name.chop %> assets are 
        currently checked out by other employees.
        <br/>
        For info on availability, 
        <a href="mailto:it@example.com">
          please contact your system administrator.
        </a>
      </div>
    <% end %>
  </div>
</div>