<%= link_to image_tag("eam-logo.png", size: '40'), root_path, id: "logo" %>
<div class="navbar-header">
  <%= link_to "Employee Asset Manager", root_path,
                        class: "navbar-brand ks-red-light bold ks-shadow" %>
</div>
<ul class="nav navbar-nav navbar-right">
  <% if logged_in? %>
    <% if admin? %>
      <%= render 'layouts/admin_nav' %>
    <% end %>
    
    <li>
      <%= link_to "My Assets", user_path(current_user), class: "ks-red-light bold" %>
    </li>
    
    <%= render 'layouts/user_nav' %>
  <% else %>
    <%= link_to "Log in", login_path, class: "btn btn-sm navbar-btn ks-red-btn" %>
  <% end %>
</ul>